.container-fluid {
  height: 100vh;
  width: 100vw;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #50e1da 0%, #80d0c7 100%);
}
.corpo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.titulo{
  display: flex;
  justify-content: center;
  height: 10%;
  font-family: 'Roboto', sans-serif;
}
.titulo p{
  align-items: center;
  font-size: 3rem;
  text-decoration: underline;
}

.card {
  flex-grow: 1;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media screen and (min-width: 600px) {
  .corpo {
    flex-direction: row;
  }
}
